/* color codes 
    https://www.w3schools.com/colors/colors_names.asp
*/

/* unvisited link */
a:link {
    color: #4682B4;
}

/* visited link */
a:visited {
    color: #4682B4;
}

/* mouse over link */
a:hover {
    color: #48D1CC;
}

/* selected link */
a:active {
    color: #4682B4;
}

body {
    color: #4682B4;
    font-family: 'Source Sans Pro',sans-serif;
}

.icons {
    
}

.icon {
    padding: 10px 10px 10px 10px;
}

.container {
  padding: 10px 50px;
  text-align: center;
  margin-bottom:10%;
}

.container>h1{
    color:#454545;
}

.container > h2 {
    color: #454545;
}

.container > p {
    color: #454545;
    width:90%;
    text-align:center;
    margin:0 auto;
}

.chart, .newChart {
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    color: #4682B4;
    font-size: 14px;
    text-align: center;
}
.chart canvas, .newChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.newChart {
    color: #ff9800;
}

.footer {
    background: #f3f3f3;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 99;
}

    .footer a {
        color: #2c3e50;
    }

    .footer a:hover {
        color: #4682B4;
    }